/*------------------------------------------------------------------
[Gutenberg] - [Table of contents]
- Gutenberg backend Custom Styling
/*------------------------------------------------------------------*/
/*Custom font styling*/
.editor-block-list__layout .editor-block-list__block {
    color: #222;
    font-family: "Montserrat",serif;
}
.editor-styles-wrapper ul {
    list-style-type: square !important;
    color: #686868;
    font-size: 15px;
}
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	font-family: "Libre Baskerville";
}
.editor-styles-wrapper h1 {
	font-size: 36px !important;
}
.editor-styles-wrapper h2 {
	font-size: 30px  !important;	
}
.editor-styles-wrapper h3 {
	font-size: 24px  !important;;
}
.editor-styles-wrapper h4 {
	font-size: 18px !important;
}
.editor-styles-wrapper h5 {
	font-size: 14px  !important;
}
.editor-styles-wrapper h6 {
	font-size: 12px  !important;
}
.wp-block-image figcaption {
	font-size: 15px;
	color: #686868;
}
.editor-post-title__block .editor-post-title__input {
    font-family: "Libre Baskerville";
    font-size: 34px;
    line-height: 51px;
}
body .wp-block-cover .wp-block-cover-text,
body .editor-styles-wrapper p,
body .edit-post-visual-editor p.wp-block-subhead {
    font-size: 15px;
    line-height: 1.7;
    color: #686868;
}
body .wp-block-cover .wp-block-cover-text{
    color: rgba(255, 255, 255, .7);
}
.editor-styles-wrapper blockquote.wp-block-quote {
    border: 0 !important;
    background: #ff2222;
    color: #fff;
    padding: 50px !important;
    font-size: 15px;
}
.editor-styles-wrapper blockquote.wp-block-quote p {
    color: #fff;
}
.editor-styles-wrapper .wp-block-quote cite, 
.editor-styles-wrapper .wp-block-quote footer, 
.editor-styles-wrapper .wp-block-quote__citation {
	color: #fff;
}
.editor-styles-wrapper .wp-block-table tbody td {
    padding: 12px 25px;
    font-size: 15px;
    color: #686868;
    border: 1px solid #686868;
}
body .editor-styles-wrapper a {
	color: #222 !important;
	text-decoration: none !important;
}
.editor-styles-wrapper .mce-content-body strong,
body .editor-styles-wrapper strong {
    font-weight: 700;
}
.wp-block-gallery .blocks-gallery-item figure {
    margin-bottom: 0 !important;
}
.wp-block-gallery .blocks-gallery-item figcaption {
    background: rgba(0, 0, 0, .7) !important;
    padding: 5px 10px 5px !important;
}
.wp-block-button__link {
    font-size: 14px;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    border: 0px !important;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 7px;
    border-radius: 0;
    background: #222;
    padding: 12px 45px;
}
.wp-block-button__link:hover {
    background: #FF2222;
}